@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .line-separate::before{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #dcdcdc;
    position: absolute;
    left: 0;
    top: calc(50% - 6px);
    }

    .lastSlide{
      /* opacity: 1!important; */
      transform: translateX(-100%);
    }

    .nextSlide{
      /* opacity: 1!important; */
      transform: translateX(100%);
    }

    .activeSlide{
      opacity: 1!important;
      transform: translateX(0);
    }

    .line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
